---
layout: default
---

<div class="home">
  {% for category in site.categories %}

    <div class="post-grid">

      <div class="boxes-container">

          {% for post in category[1] limit: 5%}
            <div class="post-link-box hvr-grow">
              <div class="white-overlay "></div>
              <div class="post-link-content">
                {% if post.coverphoto %}
                <img src="/img/{{post.date | date: "%Y-%m-%d"}}/0-cover.JPG" class="background-post-img">
                {% else %}
                <div class="background-post-img blank"></div>
                {% endif %}

                <!-- <span class="post-meta rel">{{ post.date | date: "%m-%d-%Y" }}</span> -->

                    <h2>
                        <div class="post-link-title transition">
                          {{ post.title | downcase }}
                        </div>
                        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"></a>

                    </h2>

              </div>
            </div>
          {% endfor %}
            <div class="post-link-box arrow-box">
              <div class="post-link-content arrow hvr-bob">
                <div class="more-posts transition">
                  more 
                  <br> {{category[0]}}
                  <br>&rarr;
                </div>        
              </div>
            </div>
          </div>

        </div>
        {% endfor %}


</div>
