---
layout: main
---

<div class="home">

  {% assign post = site.posts.first %}
  <div class="image-container feature-box">
    <a class="image-link image-overlay" href="{{ post.url | prepend: site.baseurl }}"></a>

    <img src="/img/{{post.date | date: "%Y-%m-%d"}}/00-featurecover.jpg" class="feature-cover transition-slow">
    <div class="image-overlay bottom-gradient"></div>
    <div class="over-image transition-slow">
      <a class="feature-title" href="{{ post.url | prepend: site.baseurl }}"> <h2>{{ post.title | upcase }}</h2> </a>
      <div class="feature-subtitle">{{ post.subtitle | downcase }}</div>
    </div>

  </div>
  <div class="grid posts">
    {% for category in site.categories %}
    <div class="col-1-3 category-posts">
      <div class="category-title transition-slow">
        {{ category[0] | upcase}}
      </div>

        {% assign post = category[1][0] %}
          <div class="image-container ">
            <a class="image-link image-overlay" href="{{ post.url | prepend: site.baseurl }}"></a>

            <img src="/img/{{post.date | date: "%Y-%m-%d"}}/0-cover.jpg" class="desaturate transition-slow">
            <div class="image-overlay bottom-gradient"></div>

            <div class="over-image transition-slow">
              <a class="feature-title transition" href="{{ post.url | prepend: site.baseurl }}"> <h2>{{ post.title | upcase }}</h2> </a>
              <div class="feature-subtitle">{{ post.subtitle | downcase }}</div>
            </div>

          </div>
        {{firstpost.title | upcase}}
        
      {% for post in category[1] limit: 3 offset: 1%}
        <div class="post-list hvr-grow transition-slow">
          <a class="feature-title " href="{{ post.url | prepend: site.baseurl }}"> <h3>{{ post.title | upcase }}</h3> </a>
          <div class="feature-subtitle">{{ post.subtitle | downcase }}</div>
        </div>
      {% endfor %}
    </div>
    {% endfor %}

  </div>

</div>