/**
 * Site header
 */
.site-header {
    min-height: 56px;
    background-color: black;

    .wrapper{
        background-color: black;
    }
    // Positioning context for the mobile navigation icon
    position: relative;

    @include media-query($on-palm) {
        .site-title{
            font-size: 20px;
        }
    }

}

.site-title {
    font-family:$accent-font-family;
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: white;
    }
}
.bottom-border {
    height: $spacing-unit/2;
    margin-bottom: $spacing-unit/2;
    width: 100%;
    background-color: #b0340e;
}

.site-nav {

    float: right;
    line-height: 56px;
    font-family:$accent-font-family;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: white;
        line-height: $base-line-height;
        font-family: $base-font-family;
        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: black;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: white;
                }
            }
        }


        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}


/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
    text-align: center;

    img {
        margin-bottom: $spacing-unit;
    }
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}


.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


/**
 * Homepage
 */

.site-title-main {
    font-family:$accent-font-family;
    font-size: 50px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: -webkit-calc((#{$spacing-unit} / 2));
    margin-bottom: calc((#{$spacing-unit} / 2));
    text-align: center;
    width: 100%;
    display: block;

    &,
    &:visited {
        color: black;
    }
}

.site-header-main{
    margin-bottom: $spacing-unit/2;
}

.feature-box{
    margin-bottom: $spacing-unit;
}

.category-title{
    font-family: $accent-font-family;
    font-size: 30px;
    width: 100%;
    text-align: center;
    margin-bottom: $spacing-unit/2;
}

.category-posts{
    width: 33.3%;
    padding: $spacing-unit;
    float: none;
    display: table-cell;
    margin-bottom: $spacing-unit/2;
    box-sizing: border-box;
    position: relative;

    > .image-container{
        margin-bottom: $spacing-unit/2;
        min-height: 180px;

        img{
            object-fit: cover;
            min-height: 180px;
            min-width: 100%;
        }
    }

    @include media-query($on-laptop){
        float: left;
        width: 100%;
    }

    @include media-query($on-palm){
        float: left;
        width: 100%;
    }

}

.category-column-bg{
    position: absolute;
    left: 5px;
    top: 5px;
    bottom: 5px;
    right: 5px;
    background: #f2f1ef;
    box-shadow: 0 4px 6px -6px black;

    z-index: -100;
}

.posts{
    float: none;
    display: table;
}
.post-list{
    margin-top: $spacing-unit;

/*    margin-left: -webkit-calc((#{$spacing-unit} / 2));
    margin-left: calc((#{$spacing-unit} / 2));*/
}

.post-meta{
    color: $grey-color;
}

.category-border{
    opacity: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: 0;
}


.over-image{
    position: absolute;
    color: white;

    bottom: -webkit-calc((#{$spacing-unit} / 2));
    bottom:         calc((#{$spacing-unit} / 2));
    left: -webkit-calc((#{$spacing-unit} / 2));
    left:         calc((#{$spacing-unit} / 2));
    right: -webkit-calc((#{$spacing-unit} / 2));
    right:         calc((#{$spacing-unit} / 2));

    a{
        color: white;
    }

    .post-meta{
        color: white;
        opacity: .6;
    }
}

.feature-title h3, h2{
    margin-bottom: 0;

}


.large{
    font-size: 30px;
}

.subtle-shadow{
    box-shadow: 0 2px 5px -4px black;
}
